/* Write your global styles here, in PostCSS syntax */
@import "open-props/style";
@import "open-props/normalize";

#svelte {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 99vh;
}
